body{
    font-size: large;
    background-color: bisque;
}
h1{
    margin-top: 80px;
    text-align: center;
}

.non-block{
    display: inline-block;
}
.contactsList_div{
    display: flex;
    justify-content: center;
    align-content: center;
    
    /* border: 1px solid black; */
}

#delete-button{
    margin-left: 10px;
    /* margin-bottom: 20px */
}